<!DOCTYPE html>
<html>
<head>
   <%-include('./inc/head')%>
  <title>Weather for <%=city%></title>
</head>
<body>
   <%-include('./inc/header')%>
   <section class="main">
      <p style="font-size: 12px; margin-bottom: 3px;">INSTANT STATUS</p>
      <div class="weather-information-box">
         <p class="w-info-country_city">Weather for <%=country%>, <%=city%></p>
         <img class="w-info-weather" title="<%=weather%>" src="<%=weatherIcon%>">
         <br><br>
         <p class="w-info-temp"><%=temp%>°</p>
      </div>
      <div class="w-info-datas-box">
         <table>
            <tr>
               <td>
                  <picture>
                     <source srcset="./assets/assets-for-dark-mode/humidity.png" media="(prefers-color-scheme: dark)">
                     <img class="w-info-data-icon" src="./assets/assets-for-light-mode/humidity.png">
                  </picture>
               </td>
               <td>Humidity</td>
               <td></td>
               <td>%<%=humidity%></td>
             </tr>
            <tr>
               <td>
                  <picture>
                     <source srcset="./assets/assets-for-dark-mode/cloud.png" media="(prefers-color-scheme: dark)">
                     <img class="w-info-data-icon" src="./assets/assets-for-light-mode/cloud.png">
                  </picture>
               </td>
               <td>Cloudiness</td>
               <td></td>
               <td><%=cloudiness%>%</td>
            </tr>
            <tr>
              <td>
                  <picture>
                     <source srcset="../assets/assets-for-dark-mode/sun.png" media="(prefers-color-scheme: dark)">
                     <img class="w-info-data-icon" src="../assets/assets-for-light-mode/sun.png">
                  </picture>
               </td>
               <td>Sunrise & Sunset</td>
               <td></td>
               <td><%=sunrise%> & <%=sunset%></td>
            </tr>
            <tr>
               <td>
                  <picture>
                     <source srcset="./assets/assets-for-dark-mode/wind.png" media="(prefers-color-scheme: dark)">
                     <img class="w-info-data-icon" src="./assets/assets-for-light-mode/wind.png">
                  </picture>
               </td>
               <td>Wind Speed & Degree</td>
               <td></td>
               <td><%=wind_speed%> m/s & <%=wind_deg%>°</td>
            </tr>
            <tr>
               <td>
                  <picture>
                     <source srcset="./assets/assets-for-dark-mode/pressure.png" media="(prefers-color-scheme: dark)">
                     <img class="w-info-data-icon" src="./assets/assets-for-light-mode/pressure.png">
                  </picture>
               </td>
               <td>Pressure</td>
               <td style="text-align: right; padding: 0px 10px;">Atmospheric:  
                  <%if (sea_level_hPa !== undefined && grnd_level_hPa !== undefined) {%>
                     <br>Sea Level:
                     <br>Ground Level:
                  <%}%>
               </td>
               <td><%=atmospher_hPa%>
                  <%if (sea_level_hPa !== undefined && grnd_level_hPa !== undefined) {%>
                     <br><%=sea_level_hPa%>
                     <br><%=grnd_level_hPa%>
                  <%}%>
               </td>
            </tr>
            <tr>
               <td>
                  <picture>
                     <source srcset="./assets/assets-for-dark-mode/coord.png" media="(prefers-color-scheme: dark)">
                     <img class="w-info-data-icon" src="./assets/assets-for-light-mode/coord.png">
                  </picture>
               </td>
               <td>Coords</td>
               <td style="text-align: right; padding: 0px 10px;">Latitude<br>Longitude</td>
               <td><%=coord_lat%><br><%=coord_lon%></td>
            </tr>
          </table>
      </div>
   </section>
</body>
</html>